<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Student List</h1>
        <!-- page to display list of student -->
        <div id ="display">
       
        <ul>
        <% for(let student of students){ %>
         <li>
             <div>
                 <%=student.name%>
             </div>
         </li>
         <%}%>
        </ul>
    </div>
    <!-- button linked to form of create student -->
    <div id="Add student">
        <button><a href="/api/v1/students/">Add Student</a></button>

    </div>
    </body>
</html>